/* global */
@font-face {
  font-family: segoeui;
  src: url(../font/segoeui.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
html,
body {
 font-family: segoeui;
 scroll-behavior: smooth;
}
/* navbar */
.navbar {
  padding: 0;
}
.orange-nav {
  background: #ff790f;
  color: white;
}
.orange-nav p {
  margin-top: 10%;
}
.title {
  width: 250px;
  padding: 10px 0px 10px 0px;
  font-size: 20px;
  position: relative;
}
.title:after {
  content: " ";
  position: absolute;
  display: block;
  width: 45%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #ff790f;
  transform-origin: top left;
  -ms-transform: skew(-40deg, 0deg);
  -webkit-transform: skew(-40deg, 0deg);
  transform: skew(-40deg, 0deg);
}
.space {
  width: 30px;
  height: 100%;
}
/* footer */
.fs-md {
  font-size: 30px;
}
.fs-md a{
  color: white;
}
.orange-text {
  color: #ff790f;
}
.blue-bg {
  background: #3a5977;
}
@media only screen and (max-width: 1303px) {
  .nav-item{
    width: 90px;
  }
  .form-inline{
    width: 150px;
  }
}