/* contact background */
.breadcrumb .breadcrumb-item a {
  color: white;
}
/* right column */
.padding-left {
  padding-left: 10px;
}
.blue-bg {
  background: #3a5977;
  color: white;
}
/* left column */
.bordered-left {
  border-left: 4px solid #ff790f;
}
.bordered-left h1{
    color: #ff790f;
}
.price-tag span{
  font-size: 20px;
}
/* tag */
.blue-text {
  color: #3a5977;
}
.row h4 {
  padding-top: 6px;
}
.row p {
  padding-left: 10px;
}
/* find your home */
.green {
  background: #39b54a;
  color: white;
  font-size: 10px;
}
.pos-ab2 {
  position: absolute;
  top: 0;
  left: 10;
  background: rgba(0, 0, 0, 0.4);
  width: 89%;
  height: 100%;
  visibility: hidden;
}
.col-md-4:hover .pos-ab2 {
  visibility: visible;
  transition: all 0.5s;
}
.col-md-12:hover .pos-ab2 {
  visibility: visible;
  transition: all 0.5s;
}
.price h5 {
  font-size: 16px;
}
.place span {
  font-size: 14px;
}
.offset-md-3 .img-fluid {
  padding-right: 20%;
}
.margin-top {
  margin-top: 50px;
}
.centered {
  margin-left: 40%;
}
.page-item a {
  color: grey;
}
@media only screen and (max-width: 991px) {
  .pos-ab2 {
    position: absolute;
    top: 0;
    left: 10;
    background: rgba(0, 0, 0, 0.4);
    width: 83%;
    height: 100%;
    visibility: hidden;
  }
  .green {
    background: #39b54a;
    color: white;
    font-size: 3px;
  }
  .offset-md-3 .img-fluid {
    padding-right: 30%;
  }
  .margin-top {
    margin-top: 0;
  }
  .price h5 {
    font-size: 10px;
  }
  .place span {
    font-size: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .pos-ab2 {
    position: absolute;
    top: 0;
    left: 10;
    background: rgba(0, 0, 0, 0.4);
    width: 70%;
    height: 100%;
    visibility: hidden;
  }
  .green {
    background: #39b54a;
    color: white;
    font-size: 10px;
    width: 80px;
  }
  .offset-md-3 .img-fluid {
    margin-left: 116px;
  }
  .margin-top {
    margin-top: 0;
  }
  .price h5 {
    font-size: 10px;
  }
  .place span {
    font-size: 10px;
  }
}
@media only screen and (max-width: 468px) {
  .pos-ab2 {
    position: absolute;
    top: 0;
    left: 10;
    background: rgba(0, 0, 0, 0.4);
    width: 92%;
    height: 100%;
    visibility: hidden;
  }
}
@media only screen and (max-width: 418px) {
  .pos-ab2 {
    position: absolute;
    top: 0;
    left: 10;
    background: rgba(0, 0, 0, 0.4);
    width: 92%;
    height: 100%;
    visibility: hidden;
  }
}