/* contact background */
.breadcrumb .breadcrumb-item a {
  color: white;
}
/* right column */
.padding-left {
  padding-left: 10px;
}
.blue-bg {
  background: #3a5977;
  color: white;
}
/* carousel */
.carousel-caption span {
  padding-right: 50px;
}
/* tag */
.blue-text {
  color: #3a5977;
}
.row h4 {
  padding-top: 6px;
}
.row p {
  padding-left: 10px;
}
/* left clumn */
/* find your home */
.padding-xl {
  padding: 15px 60px;
  background: #1e3f5f !important;
}
.deep-blue-bg {
  background: #1e3f5f;
}
.nav-item .active {
  background-color: #ff790f !important;
}
.form-control-range {
  color: #ff790f !important;
}
/* range input */
input[type="range"] {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  margin: 0;
  padding: 0 2px;
  /* Add some L/R padding to ensure box shadow of handle is shown */
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: linear-gradient(#ff790f, #ff790f) no-repeat center;
  /* Use a linear gradient to generate only the 2px height background */
  background-size: 100% 2px;
  pointer-events: none;
}
input[type="range"]:active,
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 28px;
  background-color: #ff790f;
  position: relative;
  margin: 5px 0;
  /* Add some margin to ensure box shadow is shown */
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}
input[type="range"]::-webkit-slider-thumb::before {
  content: " ";
  display: block;
  position: absolute;
  top: 13px;
  left: 100%;
  width: 2000px;
  height: 2px;
}
.multi-range {
  position: relative;
  height: 50px;
}
.multi-range input[type="range"] {
  position: absolute;
}
.multi-range input[type="range"]:nth-child(1)::-webkit-slider-thumb::before {
  background-color: purple;
}
.multi-range input[type="range"]:nth-child(2) {
  background: none;
}
.multi-range input[type="range"]:nth-child(2)::-webkit-slider-thumb::before {
  background-color: grey;
}
/* find your home */
.green {
  background: #39b54a;
  color: white;
  font-size: 10px;
}
.pos-ab2 {
  position: absolute;
  top: 0;
  left: 10;
  background: rgba(0, 0, 0, 0.4);
  width: 89%;
  height: 100%;
  visibility: hidden;
}
.col-md-4:hover .pos-ab2 {
  visibility: visible;
  transition: all 0.5s;
}
.col-md-12:hover .pos-ab2 {
  visibility: visible;
  transition: all 0.5s;
}
.price h5 {
  font-size: 16px;
}
.place span {
  font-size: 14px;
}
.offset-md-3 .img-fluid {
  padding-right: 20%;
}
.margin-top {
  margin-top: 30px;
}
.centered {
  margin-left: 40%;
}
.page-item a {
  color: grey;
}
@media only screen and (max-width: 991px) {
  .pos-ab2 {
    position: absolute;
    top: 0;
    left: 10;
    background: rgba(0, 0, 0, 0.4);
    width: 83%;
    height: 100%;
    visibility: hidden;
  }
  .green {
    background: #39b54a;
    color: white;
    font-size: 3px;
  }
  .offset-md-3 .img-fluid {
    padding-right: 30%;
  }
  .margin-top {
    margin-top: 0;
  }
  .price h5 {
    font-size: 10px;
  }
  .place span {
    font-size: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .pos-ab2 {
    position: absolute;
    top: 0;
    left: 10;
    background: rgba(0, 0, 0, 0.4);
    width: 70%;
    height: 100%;
    visibility: hidden;
  }
  .green {
    background: #39b54a;
    color: white;
    font-size: 10px;
    width: 80px;
  }
  .offset-md-3 .img-fluid {
    margin-left: 116px;
  }
  .margin-top {
    margin-top: 0;
  }
  .price h5 {
    font-size: 10px;
  }
  .place span {
    font-size: 10px;
  }
}
@media only screen and (max-width: 468px) {
  .pos-ab2 {
    position: absolute;
    top: 0;
    left: 10;
    background: rgba(0, 0, 0, 0.4);
    width: 92%;
    height: 100%;
    visibility: hidden;
  }
}
